* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.app {
    user-select: none;
    width: 100%;
    height: 100%;
    background: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sea {
    translate: 0 5rem;
}

.bottle {
    height: 10rem;
    rotate: 45deg;
    animation: bottle-floating 2s ease-in-out infinite;
    mask-image: linear-gradient(to top, transparent, white 50%);
}

.bottle:hover {
    cursor: pointer;
}

.thrower {
    position: absolute;
    bottom: 1rem;
    height: 5rem;
    transition: .2s ease-in-out all;
}

.thrower:hover {
    cursor: pointer;
    bottom: 2rem;
    height: 8rem;
}

.bottle-info {
    user-select: none;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 999;
    transition: .2s ease-in-out all;
    flex-direction: column;
    flex-wrap: nowrap;
}

.bottle-info.show {
    opacity: 1;
}

.bottle-info.hide {
    display: none;
}

#bottleContent {
    font-style: italic;
}

.bottle-throw {
    user-select: none;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 999;
    transition: .2s ease-in-out all;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 3rem;
}

.bottle-throw.show {
    opacity: 1;
}

.bottle-throw.hide {
    display: none;
}

.bottle-throw input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-size: 1.25rem;
    padding: .2rem;
    resize: none;
    min-width: 30%;
    text-align: center;
}

.bottle-throw input::placeholder {
    color: #AAA;
}

.bottle-throw a:hover {
    cursor: pointer;
}

@keyframes bottle-floating {
    0%, 100% {
        translate: 0 0;
        opacity: 0.8;
    }
    50% {
        translate: 0 -2rem;
        opacity: 1;
    }
}